$cor-primaria: #C36A2D;
$cor-secundaria: #EADCA6;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin fundo-e-texto($cor-fundo, $cor-texto) {
    width: 50%;
    background-color: $cor-fundo;

    .texto {
        margin-top: 40%;
        text-align: center;
        color: $cor-texto;
        font-size: 8rem;
    }
}

body {
    @include reset;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    height: 100vh;

    .esquerdo {
        @include fundo-e-texto($cor-primaria, $cor-secundaria);
    }

    .direito {
        @include fundo-e-texto($cor-secundaria, $cor-primaria);
    }
}